body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, SegoeuiPc, 'Segoe UI', 'San Francisco',
    'Helvetica Neue', Helvetica, 'Lucida Grande', Roboto, Ubuntu, Tahoma, 'Microsoft Sans Serif',
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bac4d1;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #ecf3ff; */
}
